# ==================== MinIo ====================
minio__domain="localhost"
minio__s3_port=9000
minio__console_port=9001
minio__access_key="minioadmin"
minio__secret_key="minioadmin123"
minio__secure=false

# Buckets
minio__dvc_bucket="iris-dvc-store"
minio__artifact_bucket="iris-artifact-store"
minio__airflow_bucket="iris-airflow-store"
