# ==================== Application ====================
project_name="IRIS Project"
version="0.1.0"
python_version="3.12"
environment="development" # development, testing, production

# ==================== Paths ====================
paths__web_dir_name="src/web"
paths__logger_dir_name="logs" # Default if logger__dir_name is not set

# data and dataset 
paths__data_dir_name="data"
paths__raw_dir_name="raw"
paths__processed_dir_name="processed"

# config dir
paths__config_dir_name="configs"
paths__model_config_dir_name="models"
paths__data_config_dir_name="data"

## model config file 
paths__svc_config_name="svc.yml"
paths__dataset_config_name="datasets.yml"
## data config file 
paths__processing_config_name="processing.yml"

# report dir
paths__report_dir_name="reports"
paths__gx_report_dir_name="GX"
paths__optuna_report_dir_name="optuna"

# storage dir and file
paths__storage_dir_name="storage"
paths__mlflow_db_name="mlflow.db"
paths__optuna_db_name="optuna.db"
paths__application_db_name="application.db" # Default storage file if storage_filepath is not set

# ==================== MinIo ====================
minio__domain="localhost"
minio__s3_port=9000
minio__console_port=9001
minio__access_key="minioadmin"
minio__secret_key="minioadmin123"
minio__secure=false

# Buckets
minio__dvc_bucket="iris-dvc-store"
minio__artifact_bucket="iris-artifact-store"
minio__airflow_bucket="iris-airflow-store"

# ==================== API ====================
api__name="IRIS Predictor"
api__host="localhost"
api__port=8000
api__debug=True
api__reload=True
api__offline_mode=True
api__log_level="info"
api__static_dir="static"
api__templates_dir="template"

# ==================== Logger ====================
# logger__dir_name="logs" 
logger__max_mb=5
logger__backup_count=5
logger__level=DEBUG
logger__file_pattern="%(asctime)s | %(levelname)s | %(name)s | %(message)s"
logger__console_pattern="%(levelname)s | %(name)s | %(message)s"

# ==================== DVC ====================
dvc__remote_name=storage
dvc__remote_url="s3://${minio__dvc_bucket}"
dvc__endpoint_url="http://${minio__domain}:${minio__s3_port}"


# ==================== STORAGE ====================
# storage_filepath="application.db"
